*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
.header{
  background-image: url('./../assets/server/server1.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-cover{
  background: url('./../assets/logo/background.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-width{
  width: 90%;
}